body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

header {
    background: #EAEAEA;
    padding: 8px;
    height: -40px; 
}

h3 {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

#leftcolumn {
    float: left;
    background-color: #C8FC98;
    width:25%;
    padding: 8px;

}

#rightcolumn {
    float: right;
    background-color: #FDE95E;
    width:  200px;
    padding: 8px;

}
#link{
    text-align: center;
    
}

#link > a {
    color:#FFFF80
}


#red { 
    color:red;
    font-weight: bold;
    font-style: italic;
}

#bold { 
    font-weight: bold;
}

#foot { 
    background: black;
    padding: 5px;
    color: #FFFF80;
    clear: both;
    justify-content: center; 
    align-items: center; 
}